

.hero-text-content{
    position: absolute;
    top: 180px;
    left: 270px;
    
}

.hero-text-content h1{
    font-size: 70px;
    margin-bottom: 50px;
}
.hero-text-content p{
    font-size: 15px;
    color: white;
    
}

